<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>饱和度</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<real>0</real>
		<key>sliderMaxValue</key>
		<integer>2</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>对比度</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>4</integer>
		<key>sliderCurrentValue</key>
		<integer>2</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>亮度</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>-1</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>曝光</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>-4</integer>
		<key>sliderMaxValue</key>
		<integer>4</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>RGB绿</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>2</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>RGB红</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>2</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>RGB蓝</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>2</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>晕映-暗角</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<real>0.5</real>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>色度</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>360</integer>
		<key>sliderCurrentValue</key>
		<integer>180</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>单色</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<real>0.5</real>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>锐化</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>-4</integer>
		<key>sliderMaxValue</key>
		<integer>4</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>灰度系数</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>3</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>色调曲线</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>3</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>朦胧加暗</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>-3</integer>
		<key>sliderMaxValue</key>
		<integer>3</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>褐色（怀旧）</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>-3</integer>
		<key>sliderMaxValue</key>
		<integer>3</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>Amatorka lookup</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>MissEtikate lookup</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>Soft elegance lookup</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>反色</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>灰度</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>阀值素描，形成有噪点的素描</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>素描</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>卡通效果（黑色粗线描边）</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>卡通效果</string>
		<key>describe</key>
		<string>卡通效果（粗犷画风）</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>色调分离</string>
		<key>describe</key>
		<string>色调分离，形成噪点效果</string>
		<key>sliderMinValue</key>
		<integer>1</integer>
		<key>sliderMaxValue</key>
		<integer>256</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>浮雕效果</string>
		<key>describe</key>
		<string>浮雕效果，带有点3d的感觉</string>
		<key>sliderMinValue</key>
		<integer>1</integer>
		<key>sliderMaxValue</key>
		<integer>4</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>高斯模糊</string>
		<key>describe</key>
		<string>高斯模糊</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>20</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>iOS模糊</string>
		<key>describe</key>
		<string>iOS模糊</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>变焦模糊</string>
		<key>describe</key>
		<string>变焦模糊</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>2</integer>
		<key>sliderCurrentValue</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>盒子模糊</string>
		<key>describe</key>
		<string>盒子模糊</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>运动模糊</string>
		<key>describe</key>
		<string>运动模糊</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>双边模糊</string>
		<key>describe</key>
		<string>双边模糊</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>漩涡</string>
		<key>describe</key>
		<string>漩涡，中间形成卷曲的画面</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>鱼眼效果</string>
		<key>describe</key>
		<string>凸起失真，鱼眼效果</string>
		<key>sliderMinValue</key>
		<integer>-1</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>凹面镜</string>
		<key>describe</key>
		<string>收缩失真，凹面镜</string>
		<key>sliderMinValue</key>
		<integer>-1</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>球形折射</string>
		<key>describe</key>
		<string>球形折射，图形倒立</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>水晶球效果</string>
		<key>describe</key>
		<string>水晶球效果</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>哈哈镜</string>
		<key>describe</key>
		<string>伸展失真，哈哈镜</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<real>0.5</real>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>扩展模糊</string>
		<key>describe</key>
		<string>扩展边缘模糊，变黑白</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<real>0.5</real>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>侵蚀模糊</string>
		<key>describe</key>
		<string>侵蚀边缘模糊，变黑白</string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>1</integer>
		<key>sliderCurrentValue</key>
		<real>0.5</real>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
