<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>test</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>黑白</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>LOMO</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>黑白</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>复古</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>哥特</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>锐化new</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>淡雅</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>酒红</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>清宁</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>浪漫</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>光晕</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>蓝调</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>夜色</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>梦幻</string>
		<key>describe</key>
		<string></string>
		<key>sliderMinValue</key>
		<integer>0</integer>
		<key>sliderMaxValue</key>
		<integer>0</integer>
		<key>sliderCurrentValue</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
